body {
  font-family: monospace;
  color: #000;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.6);
  margin: 20px auto;
  font-size: x-large;
  max-width: 600px;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

a {
  color: #3c251f; /* Deep brown for links */
  text-decoration: none;
  border-bottom: 1px dotted #3c251f;
  padding-bottom: 2px;
  transition: color 0.2s ease-in-out;
}

a:hover {
  color: #e07a57; /* Dark orange hover */
}

img {
  max-width: 100%;
  border: 1px solid #e07a57;
  border-radius: 5px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

ul, ol {
  margin-bottom: 20px;
  padding-left: 20px;
}

li {
  margin-bottom: 5px;
}

blockquote {
  border-left: 5px solid #e07a57;
  padding-left: 15px;
  font-style: italic;
}

hr {
  border-top: 1px dotted #3c251f;
  margin: 20px 0;
}

.highlight {
  background-color: #f5e9dc;
  border-radius: 3px;
}
